body {
    margin: 0;
    padding: 0;
    background: transparent;
}
.text {
    font-size: var(--alert-description-widget-font-size, 30px);
    line-height: var(--alert-description-widget-line-height, 50px);
    text-align: var(--alert-description-widget-align, left);
    color: var(--alert-description-widget-color, white);
    margin-bottom: var(--alert-description-widget-margin-bottom, 0);
    position: var(--alert-description-widget-position, absolute);
    top: var(--alert-description-widget-top, 53%);
    left: var(--alert-description-widget-left, 0);
    padding: var(--alert-description-widget-padding, 0px 5px 0 5px);
    text-shadow: var(--alert-description-widget-shadow, 1px 1px 3px #00000069);
    background: transparent;
    font-family: 'Sofia Sans SemiCondensed', Arial, sans-serif;
    width: max-content;
    min-width: 100vw;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: visible;
}
